:root {
  --primary-color: #1bbf00;
  --secondary-color: #160c6d;
  --secondary-color-lite: rgba(22, 12, 109, 0.5);
  --tertiary-color: #5c5599;
  --text-color: #eff4fa;
  --text-color-light: #e8e7f0;
  --text-color-dark: #141135;
  --text-color-dark-light: #736da7;
  --background-color: #f9f9fb;
  --background-color-light: #fdfdfd;
  --background-color-lite: #f6f5ff;
  --open-sans-font: "Open Sans", sans-serif;
  --paprika-font: "Paprika", system-ui;
}

* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: var(--open-sans-font);
  font-size: 18px;
  color: var(--text-color-dark);
}
.container {
  max-width: 141rem;
  margin: 0 auto;
  width: 80%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 1.8rem;
  color: var(--text-color);
}

.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}

.justify-center-left {
  justify-content: left;
}
.align-center {
  align-items: center;
}

.align-items-start {
  align-items: start;
}
.d-grid {
  display: grid;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
.margin-left {
  margin-left: 7.1rem;
}
.margin-left-sm {
  margin-left: 2.8rem;
}
.btn {
  padding: 1.4rem 2.8rem;
  background-color: var(--primary-color);
  border-radius: 100px;
  transition: all 0.3s;
  display: block;
}
.btn:hover {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px var(--primary-color);
}

.btn--secondary {
  padding: 1rem 2rem;
  /* background-color: var(--secondary-color); */
  color: var(--text-color-dark);
  border-radius: 100px;
  background: linear-gradient(
    to right,
    transparent 70%,
    rgba(144, 238, 144, 0.3) 30%
  );
  transition: all 0.3s;
}
.btn--secondary:hover {
  background-color: transparent;
  background: linear-gradient(
    to right,
    transparent 70%,
    rgba(255, 255, 255, 0.3) 30%
  );
}
.heading-primary {
  font-size: 8.2rem;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 2rem;
  text-align: center;
  margin-top: 14.6rem;
}
.heading-secondary {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.heading-tertiary {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.5;
}
.heading-quaternary {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5;
}
.description {
  font-size: 1.8rem;
  font-family: var(--paprika-font) !important;
}
p {
  line-height: 1.5;
  text-align: center;
}
span {
  display: block;
}
.text-align-center {
  text-align: center;
}
.text-align-left {
  text-align: left;
}
