/*======================================
          header-section CSS
=======================================*/
header {
  background-image: url(../img/header.png);
}
nav {
  background-color: var(--secondary-color);
  padding: 1.8rem 0;
  opacity: 0.5;
}

nav .container {
}
header nav .nav-list {
  gap: 4.25rem;
}
/*======================================
          Common CSS ‍Start
=======================================*/
/*======================================
          Common CSS ‍Start
=======================================*/
/*======================================
          Common CSS ‍Start
=======================================*/
/*======================================
          Common CSS ‍Start
=======================================*/
/*======================================
          Common CSS ‍Start
=======================================*/
/*======================================
          Common CSS ‍Start
=======================================*/
/*======================================
          Common CSS ‍Start
=======================================*/
