/*======================================
          header-section CSS
=======================================*/
header {
  background: linear-gradient(rgba(92, 85, 153, 0.9), rgba(92, 85, 153, 0.9)),
    url(../images/header.png) no-repeat center center/cover;
}
nav {
  background-color: var(--secondary-color-lite);
  padding: 1.8rem 0;
  opacity: 0.8;
}

nav .container {
}

header nav .logo {
  flex-basis: 10.3rem;
}

header nav .nav-list {
  flex-basis: 100rem;
}
header nav .nav-list li a {
  white-space: nowrap;
}
header p {
  font-size: 2.4rem;
  font-family: var(--paprika-font) !important;
}

header .buttons {
  margin-bottom: 25.4rem;
}
/*======================================
          SECTION-PRICE CSS
=======================================*/
.section-price {
}
.section-price .container {
}
.section-price .container .prices {
}
/*======================================
          Common CSS ‍Start
=======================================*/
/*======================================
          Common CSS ‍Start
=======================================*/
/*======================================
          Common CSS ‍Start
=======================================*/
/*======================================
          Common CSS ‍Start
=======================================*/
/*======================================
          Common CSS ‍Start
=======================================*/
/*======================================
          Common CSS ‍Start
=======================================*/
